Options -Indexes
<IfModule mod_rewrite.c>
RewriteEngine On

# IMPORTANT: remove RewriteBase to avoid loops
# RewriteBase /pregnancy_risk/public/

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^ index.php [L,QSA]
</IfModule>
